<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        a { user-select: none; }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{{ url_for('main.index') }}" class="navbar-item">
                Стальная Гиря
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('main.index') }}">Главная</a>
                <a class="navbar-item">О нас</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_admin %}
                                <a class="button is-danger" href="{{ url_for('profile.admin') }}">Админ-Панель</a>
                            {% endif %}
                            <a class="button is-primary" href="{{ url_for('profile.user_profile') }}">Профиль</a>
                            <a class="button is-light" href="{{ url_for('main.logout') }}">Выйти</a>
                        {% else %}
                            <a class="button is-primary" href="{{ url_for('main.login') }}"><strong>Войти</strong></a>
                            <a class="button is-light" href="{{ url_for('main.register') }}">Зарегистрироваться</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container">
                    <div class="notification is-{{category}}">
                    {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}

    <script>
    document.addEventListener('DOMContentLoaded', () => {
      const burgers = document.querySelectorAll('.navbar-burger');
      burgers.forEach((burger) => {
        burger.addEventListener('click', () => {
          const target = burger.dataset.target;
          const menu = document.getElementById(target);
          burger.classList.toggle('is-active');
          if (menu) menu.classList.toggle('is-active');
        });
      });
    });
    </script>
</body>
</html>